/* work sans fonts from google */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');

*{
    font-family: 'Work Sans', 'sans-serif';
}


/* header styles */
header{
    background: #FFF;
    box-shadow: 0px 4px 30px 0px #4908080d;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.heading-container{
    display: flex;
    align-items: center;
}
.heading-container img{
    width: 100%;
    height: 100%;
}
.heading-title{
font-size: 3rem;
font-weight: 700; 
margin-left: 10px;
}
nav > ul{
    display: flex;
    align-items: center;  
}

nav li{
    list-style: none;
    text-align: center;
    font-size: 1.10rem;
    font-weight: 500;
    margin-right: 40px;
    
}
nav li a{
    text-decoration: none;
    color: #3C354F;   
}

.follow-section{
    display: flex;
    border-radius: 8px;
    background: #0b02231a;
    padding: 20px;
    gap: 10px;   
}

.heading-container span{
    color: #FF42A5;
}


/* banner section */
.banner{
    display: flex;
    justify-content: space-around;
    align-items: center; 
}

.banner-content{
    background-image: url(../images/Group\ 14.png);
    width: 800px;
    height: 630px;
    text-align: center;
}
.banner-title{
    color: #0B0223;
    font-size: 3rem;
    font-weight: 600;
    text-transform: uppercase;
}
.banner-title span{
    font-size: 6rem;
    font-weight: 800;
    color: #ce48d3;  
}
.common-color{
    color: #534C64;
    font-size: 1.25rem;
    font-weight: 500;
    margin-bottom: 30px;
}
.btn-primary{
    border-radius: 30px;
    background-color: #FF42A5;
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 600;
    text-transform: uppercase;
    border: 0;
    padding: 1.2rem 1.9rem;
    margin-right: 10px;
}
.btn-secondary{
    border-radius: 30px;
    background-color: #4EC5F7;
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 600;
    text-transform: uppercase;
    border: 0;
    padding: 1.2rem 1.9rem;
}